In [1]:
from sklearn.datasets import fetch_20newsgroups
import pandas as pd

In [2]:
def twenty_newsgroup_to_csv():
    newsgroups_train = fetch_20newsgroups(subset='train', remove=('headers', 'footers', 'quotes'))

    df = pd.DataFrame([newsgroups_train.data, newsgroups_train.target.tolist()]).T
    df.columns = ['text', 'target']

    targets = pd.DataFrame( newsgroups_train.target_names)
    targets.columns=['title']

    out = pd.merge(df, targets, left_on='target', right_index=True)
    out['date'] = pd.to_datetime('now')
    out.to_csv('20_newsgroup.csv')
    
twenty_newsgroup_to_csv()

In [3]:
df = pd.read_csv('20_newsgroup.csv')

       Unnamed: 0  ...                        date
0               0  ...  2021-10-08 12:38:27.353378
1              17  ...  2021-10-08 12:38:27.353378
2              29  ...  2021-10-08 12:38:27.353378
3              56  ...  2021-10-08 12:38:27.353378
4              64  ...  2021-10-08 12:38:27.353378
...           ...  ...                         ...
11309       11210  ...  2021-10-08 12:38:27.353378
11310       11217  ...  2021-10-08 12:38:27.353378
11311       11243  ...  2021-10-08 12:38:27.353378
11312       11254  ...  2021-10-08 12:38:27.353378
11313       11302  ...  2021-10-08 12:38:27.353378

[11314 rows x 5 columns]

In [4]:
import nltk
from nltk.tag import pos_tag
from nltk import word_tokenize

In [5]:
df['text'] = df['text'].astype(str)

In [6]:
nltk.download('punkt')
df['text'] = df.apply(lambda row: nltk.word_tokenize(row['text']), axis=1) 
noun=[]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

       Unnamed: 0  ...                        date
0               0  ...  2021-10-08 12:38:27.353378
1              17  ...  2021-10-08 12:38:27.353378
2              29  ...  2021-10-08 12:38:27.353378
3              56  ...  2021-10-08 12:38:27.353378
4              64  ...  2021-10-08 12:38:27.353378
...           ...  ...                         ...
11309       11210  ...  2021-10-08 12:38:27.353378
11310       11217  ...  2021-10-08 12:38:27.353378
11311       11243  ...  2021-10-08 12:38:27.353378
11312       11254  ...  2021-10-08 12:38:27.353378
11313       11302  ...  2021-10-08 12:38:27.353378

[11314 rows x 5 columns]

In [7]:
nltk.download('averaged_perceptron_tagger')
for index, row in df.iterrows():
  noun.append([word for word,pos in pos_tag(row[3]) if pos == 'NN'])

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [8]:
data = pd.DataFrame(columns = df.columns)
data['Nouns'] = noun

In [9]:
data.reset_index(inplace=True)
data_dict = data.to_dict('records')

In [12]:
!pip install dnspython

Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 4.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [ ]:
import pymongo
from pymongo import MongoClient
cluster = MongoClient("mongodb+srv://usertest:1234@cluster0.bh0xh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
#client.list_database_names()
db = cluster['test']
collection = db['nouns']
collection.insert_one({"index": "nouns", "data":data_dict})

In [ ]:
x = collection.find_one()
#print(x)